@import url("https://fonts.googleapis.com/css?family=Raleway");

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  border: 0;
  outline: 0;
  background: transparent;
  font-size: 100%;
}

body {
  line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  background: transparent;
  font-size: 100%;
}

ins {
  text-decoration: none;
  color: #000;
  background-color: #ff9;
}

mark {
  color: #000;
  background-color: #ff9;
  font-weight: bold;
  font-style: italic;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  cursor: help;
  border-bottom: 1px dotted;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

hr {
  display: block;
  height: 1px;
  margin: 1em 0;
  padding: 0;
  border: 0;
  border-top: 1px solid #ccc;
}

input,
select {
  vertical-align: middle;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  outline: none;
}

html {
  font-size: 62.5%;
}

body {
  padding: 50px;
  text-align: center;
  color: #eee;
  background-color: #393e46;
  font-family: 'Raleway', "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
  font-size: 1.4rem;
}

h1 {
  font-size: 6rem;
  font-weight: normal;
}

#search-form {
  margin: 50px auto;
  font-size: 0;
}

#search-form #search-input,
#search-form button {
  padding: 0 2rem;
  vertical-align: middle;
  color: #fff;
  border: none;
  font-family: 'Raleway', "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
  font-size: 1.5rem;
  line-height: 4rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

#search-form #search-input:focus,
#search-form button:focus {
  box-shadow: 0 0 7px 0 rgba(255, 255, 255, 0.5);
}

#search-form #search-input {
  width: 300px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-right: none;
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
  background-color: transparent;
}

#search-form button {
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, border 0.3s ease-in-out;
  border: 1px solid #00adb5;
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
  background-color: #00adb5;
}

#search-form button:hover,
#search-form button:focus {
  border: 1px solid #00ecf7;
  background-color: #00ecf7;
}

#event-list {
  width: 700px;
  margin: 30px auto;
  list-style-type: none;
  font-size: 1.4rem;
}

#event-list:empty::before {
  content: 'Not found';
}

#event-list li {
  margin: 20px;
  text-align: left;
}

#event-list li time {
  position: relative;
  display: inline-block;
  width: 5rem;
  height: 3.5rem;
  margin-right: 2rem;
  text-align: center;
  vertical-align: middle;
  color: #fff;
  background-color: #eb586f;
  line-height: 3.5rem;
}

#event-list li time::after {
  position: absolute;
  top: 50%;
  left: 100%;
  width: 0;
  height: 0;
  content: '';
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  border: 4px solid transparent;
  border-left: 6px solid #eb586f;
}

#event-list li a {
  display: inline-block;
  overflow: hidden;
  width: calc(100% - 70px);
  height: 3.5rem;
  vertical-align: middle;
  white-space: nowrap;
  text-decoration: none;
  text-overflow: ellipsis;
  color: #eee;
  background-color: #393e46;
  font-size: 1.4rem;
  line-height: 3.5rem;
}

#event-list li a:hover,
#event-list li a:focus {
  border-bottom: 2px dashed #00adb5;
}
